body {
	background-color: #E5E5E5;
	margin: 0px;
}

.toolbar{
	background-color: #BFBFBF;
	margin-bottom: 20px;
}

.toolbar-button {
	cursor: pointer;
}

.projects-wrapper {
}
.project-item {
	margin: 0px 10px;
	background-color: #ADD8E6;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.2);
	position: relative;
}

.project-title {
	padding: 6px;
	background-color: #BFBFBF;
}

.project-toolbar {
	position: absolute;
	right: 6px;
	top: 6px;
}

.dialog {
	display: none;
}

.task-item {
	padding: 2px 10px;
}

.task-done .button-task-done{
	display: none;
}

.task-done .task-title {
	text-decoration: line-through;
}

.common-button {
	cursor: pointer;
}
